body {
    font-family: Arial, sans-serif;
    background-color: #78343c;
    text-align: center;
    margin: 0;
    padding: 0;
}

.game-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.meme-display img {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

.options {
    margin-top: 20px;
}

.option {
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #005f6a;
}

.feedback {
    margin-top: 20px;
    font-size: 20px;
}

.feedback p {
    margin: 0;
}

.score {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

.timer {
    margin-top: 20px;
    font-size: 20px;
}

#start-btn, #retry-btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
}

#start-btn:hover, #retry-btn:hover {
    background-color: #218838;
}

#retry-btn {
    display: none;
}